@page
@model QueueCheckIn.Pages.CheckIns.AddConfirmedModel
@{
    ViewData["Title"] = "AddConfirmed";
}

<div class="message order-success">
    <h2>Thank you for checking in!</h2>
    We will send you an email alerting you to come back to the barber shop asap.
</div>

<p class="actions">
    <a asp-page="Index" class="btn btn-primary m-1">End</a>
    <a asp-page="Index" class="btn btn-primary m-1">Home</a>
</p>
